@import "g-style";

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

.steps {
  padding-top: 50px;
  .g-container {
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      li {
        text-align: center;
        border: 1px solid #e5e5e5;
        color: #454545;
        .step-title {
          border-bottom: 1px solid #e5e5e5;
          padding: 22px 10px;
          h3 {
            font-weight: 400;
          }
        }
        .step-info {
          padding: 50px 20px;
          h2 {
            font-size: 3rem;
            font-weight: 300;
            margin-bottom: 20px;
          }
          p {
            font-size: 0.9rem;
            span {
              display: block;
              font-size: 1rem;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
